simulation/work/

docs/*.*
docs/~porttemplate.rtf
!docs/*.bib
!docs/*.tex
!docs/*.cls
!docs/*.rtf
!docs/*.pdf

synthesis/db
synthesis/incremental_db
synthesis/output_files/*.*
!synthesis/output_files/*.cdf
!synthesis/output_files/*.sof
!synthesis/output_files/*.pin